<!DOCTYPE html>
<html>
  <head>
    <title>Nutrition image detection</title>
  </head>
  <body>
    <form action="/nutrition_image_results" id="nutrition_input_form" method="GET">
      Input the urls of images to be analyzed, one on each line:
      <!-- <input type="text" name="image" size="50" height="50" value=""> -->
      <input type="submit" value="Classify">
    </form>
    
    <textarea form="nutrition_input_form" name="image" rows="25" cols="100">
https://images1.jetcdn.net/md5/74daafcb0ca8fc9e004d0997022743c1.500
https://images3.jetcdn.net/md5/8b5a0e1f6f286d6440d398120ead1017.500
https://images1.jetcdn.net/md5/41f935a791832ab66fcc937a0e83d5ad.500
https://images8.jetcdn.net/md5/c44a356277aebd5a554e555270c1fcab.500
https://images4.jetcdn.net/md5/be3396079e2eaffbd427bd91ff8bbfba.500
 </textarea>

  </body>
</html>
