*.txt
*.out
*.pyc
*.jpg
*.jpeg
*.png
*.dia
*.sublime-project
*.sublime-workspace

# Hidden files
!.htaccess
.vagrant

#Config
application/config/config.local.php
application/config/database.local.php

#NetBeans
nbproject/

# PHP Storm, other java IDE's
.idea/

#Eclipse
license.txt
.buildpath
.project
.settings

#Virtualenv
bin
include
lib
man

#Setuptools
build
dist
*.egg-info

#Other
/application/logs
/application/controllers/test.php
/application/config/database.php
/webroot/img
/webroot/webshoots
/webroot/emails_logos
!/webroot/img/
/special_crawler/queue_handler/venv
settings_ses.p*
*.swp
product-ranking/product_ranking/settings_local.py
*.sqlit*
django.errors
_http_cache
_http_s3_cache
_fs_cache/
upload_file.xml

.env/
product-ranking/amazon_marketplace/new/
product-ranking/product_ranking/amazon_marketplace/

master_category/_uploads
master_category/converters/_results
master_category/mastercategory.sock
# requirements should be tracked
!requirements.txt

# sandbox
/retail_submission_api/sandbox/**/log/*
/retail_submission_api/sandbox/**/node_modules/*
/retail_submission_api/sandbox/**/uploads/*

.DS_Store
