<!doctype html>
<html>
    <head>
        <title>Running Template</title>
    </head>
    <body>
        <form method="POST" action="{{ url_for('runaction') }}" enctype="multipart/form-data">
            <p>
                Select website:
                <select name="site_select">
                  {% for o in data %}
                  <option value="{{ o.name }}">{{ o.name }}</option>
                  {% endfor %}
                </select>
            </p>
            <p>
                Select file:
                <input type="file" name="fileupload" value="fileupload" id="fileupload">
            </p>
            <p>
                <button type="submit">Run Audit</button>
            </p>
        </form>
    </body>
</html>