
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        div {margin-bottom: 10px;}
        .value {
            font-size:12px;
            color: #555;
        }
    </style>
</head>
<body>

{% load setvar %}

<h1>{{ object }}</h1>

<p>Go back to <a href="{% url 'tests_app_dashboard' %}">all spiders</a></p>

<ul>
    {% for fr in failed_runs|slice:"0, 200" %}
        <li class="{% if fr.status == 'failed'%}failed{% else %}passed{%endif %}">
            <div>
                {% if fr.status == 'failed' %}
                    <span style="color:red">[FAILED]</span>
                {% else %}
                    <span style="color:green">[PASSED]</span>
                {% endif %}
                <a href="#" onclick="$('#fr_{{ fr.pk }}').show(100); return false">{{ fr }}</a>,
                <span style="color:green">{{ fr.num_of_successful_requests }} successful request(s)</span>,
                <span style="color:red">{{ fr.num_of_failed_requests }} failed request(s)</span>
            </div>
            <div id="fr_{{ fr.pk }}" style="display: none">
                <ul>
                    {% for failed_request in fr.test_run_failed_requests.all %}
                        {% if failed_request.is_missing_data %}
                            <li>
                                <div><a href="#" onclick="$('#failed_request_{{ failed_request.pk }}').show(100); return false;">{{ failed_request.request }}</a></div>
                                <div id="failed_request_{{ failed_request.pk }}" style="display: none; margin-left:40px">
                                    <div>{{ failed_request.error_html|safe }}</div>
                                    <div>
                                        <a href="{{ failed_request.result_file.url }}" target="_blank">Result file (JSONList)</a>
                                        |
                                        <a href="{% url 'json_to_csv' json=failed_request.result_file.url %}" target="_blank">Result file (CSV)</a>
                                        |
                                        <a href="{{ failed_request.log_file.url }}" target="_blank">Log file</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>

</body>
</html>
