<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%- block title -%}{%- endblock -%}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/simplePagination.css') }}" rel="stylesheet">
  </head>
  <body>
    <h1>{{ title }}</h1>
    {%- for message in get_flashed_messages() -%}
        <p class="bg-info">{{ message }}</p>
    {%- endfor -%}
    {%- block body -%}{%- endblock -%}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.simplePagination.js') }}"></script>
    {%- block extrajs -%}{%- endblock -%}
  </body>
</html>